
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none ;
}

body {
    font-family: Montserrat, open-sans;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Montserrat, open-sans;
    text-transform: uppercase;
    letter-spacing: 4px;

}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right; 
}

#menu, #logo { 
    line-height: 75px;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #8c1232;
}

.active {
    border-bottom: 1px solid #8c1232;
}

#banner-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position:relative;
}

#cover-tex, #cover-tex h2 {
    color: #fff;
}

#banner-image {
    height: 600px;
    width: 100%;
    background: url(../images/banner2.jpg) no-repeat center center;
    
    /* animates zoom effect on loading page */
    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}

/*creates the level of zoom for hero image */
@keyframes banner-zoom {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)

    }
}

/* CDMX info */

#info-cdmx {
    height: 450px;
    width: 100%;
}

#info-cdmx h2{
    padding: 10px 30px 10px 30px;
    font-weight: 900;
}

#info-cdmx p {
    padding: 10px 30px;
}


iframe {
    padding-top: 30px;
    display: block;
    margin: 0 auto;

}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* experiences */

.title {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position:relative;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
}

.section-title {
    color: #3a3a3a;
    font-weight: bolder;
    font-family: 'Open Sans Bold';
}

#atractions-title img {
    display: block;
    margin: 0 auto;
}

#places {
    padding-top: 30px;
}

#places div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#places #bellasartes-container {
    background: url(../images/bellasartes.jpeg) no-repeat center center;
}

#places #bellasartes-container #layer-bellas-artes {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(238,39,67,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #bellasartes-container:hover > #layer-bellas-artes {
    opacity: 1;
    visibility: visible;
}

#layer-bellas-artes a {
    color:#fff;
    text-decoration: none;
}

#places #bellasartes-container:hover > #layer-bellas-artes h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}

#places #catedral-container {
    background: url(../images/catedral.jpeg) no-repeat center center;
}

#places #catedral-container #layer-catedral {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(237,29,134,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #catedral-container:hover > #layer-catedral {
    opacity: 1;
    visibility: visible;
}

#layer-catedral a {
    color:#fff;
    text-decoration: none;
}

#places #catedral-container:hover > #layer-catedral h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}

#places #chapultepec-container {
    background: url(../images/chapultepec.png) no-repeat center center;
}

#places #chapultepec-container #layer-chapultepec {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239,182,38,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #chapultepec-container:hover > #layer-chapultepec {
    opacity: 1;
    visibility: visible;
}

#layer-chapultepec a {
    color:#fff;
    text-decoration: none;
}

#places #chapultepec-container:hover > #layer-chapultepec h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}

#places #revolucion-container {
    background: url(../images/revolucion.jpeg) no-repeat center center;
}

#places #revolucion-container #layer-revolucion {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172,34,132,0.30);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #revolucion-container:hover > #layer-revolucion {
    opacity: 1;
    visibility: visible;
}

#layer-revolucion a {
    color:#fff;
    text-decoration: none;
}

#places #revolucion-container:hover > #layer-revolucion h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}

#places #teotihuacan-container {
    background: url(../images/teotihuacan.jpeg) no-repeat center center;
}

#places #teotihuacan-container #layer-teotihuacan {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(133,196,64,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #teotihuacan-container:hover > #layer-teotihuacan {
    opacity: 1;
    visibility: visible;
}

#layer-teotihuacan a {
    color:#fff;
    text-decoration: none;
}

#places #teotihuacan-container:hover > #layer-teotihuacan h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}