
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border:none;
    box-sizing: border-box;
}


body {
    font-family: Montserrat, open-sans;
    font-weight: 300;
    color: #3a3a3a;  
   
}


/* Navbar */

nav {
    height: 80px;
    width: 100%;
}

h1, h2 {
    font-family: Montserrat, open-sans;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:3em;
    padding-left: 20px;
    padding-top: 10px;
}


#logo {
    height: 40px;
    position:absolute;
    font-family: Montserrat, open-sans;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:3em;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #8c1232;
}

.active {
    border-bottom: 1px solid #8c1232;
}

.checkbtn {
    font-size: 30px;
    color: #8c1232;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* Index page */
#banner-outer {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}

#banner-image-index {
    height: 500px;
    width: 100%;
    background: url(../images/banner2.jpg) no-repeat center;
    /* animates zoom effect on loading page */
    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;   
       
}

/*creates the level of zoom for hero image*/
@keyframes banner-zoom {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)

    }
} 

#info-cdmx {
    height: 780px;
    width: 100%;
    background-color: white;
    margin-top:40px;
    margin-right: 100px;;
    margin-bottom: 0%;
    min-height: 100%;
}

#info-cdmx p {
    padding: 10px 30px 0px 20px;
}

#info-cdmx a {
    text-decoration: none;
    font-weight: bold;
}

iframe {
    float:none;
    clear: both;
    padding-top: 30px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    
}

/* footer */

footer {
    margin-top: 20px;
    width: 100%;
    height: 80px;
    
    color: white;
    background-color: #e4007c;
    max-width: 100%;
}

footer p {
    padding-top: 10px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
}

/* experiences page*/

#banner-image-places {
    height: 500px;
    width: 100%;
    background: url(../images/banner2.jpg) no-repeat center;
    /* animates zoom effect on loading page */
    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}

/*creates the level of zoom for hero image*/
@keyframes banner-zoom {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)
    }
}


#atractions-title {
    color: #3a3a3a;
    font-weight: bolder;
    font-family: Montserrat, open-sans;
    height: 155px;
    width: 100%;    
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
}

#atractions-title p {
    padding: 15px;
}
 
#places {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /*padding-bottom: 350px;*/
    height: 350px;  
}

#places div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#places #bellasartes-container {
    background: url(../images/bellasartes.jpeg) no-repeat center center;
}

#places #bellasartes-container #layer-bellas-artes {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(238,39,67,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #bellasartes-container:hover > #layer-bellas-artes {
    opacity: 1;
    visibility: visible;
}

#layer-bellas-artes a {
    color:#fff;
    text-decoration: none;
}

#places #bellasartes-container:hover > #layer-bellas-artes h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}

#places #catedral-container {
    background: url(../images/catedral.jpeg) no-repeat center center;
}

#places #catedral-container #layer-catedral {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(237,29,134,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #catedral-container:hover > #layer-catedral {
    opacity: 1;
    visibility: visible;
}

#layer-catedral a {
    color:#fff;
    text-decoration: none;
}

#places #catedral-container:hover > #layer-catedral h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}

#places #chapultepec-container {
    background: url(../images/chapultepec.png) no-repeat center center;
}

#places #chapultepec-container #layer-chapultepec {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239,182,38,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #chapultepec-container:hover > #layer-chapultepec {
    opacity: 1;
    visibility: visible;
}

#layer-chapultepec a {
    color:#fff;
    text-decoration: none;
}

#places #chapultepec-container:hover > #layer-chapultepec h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}

#places #revolucion-container {
    background: url(../images/revolucion.jpeg) no-repeat center center;
}

#places #revolucion-container #layer-revolucion {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172,34,132,0.30);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #revolucion-container:hover > #layer-revolucion {
    opacity: 1;
    visibility: visible;
}

#layer-revolucion a {
    color:#fff;
    text-decoration: none;
}

#places #revolucion-container:hover > #layer-revolucion h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}

#places #teotihuacan-container {
    background: url(../images/teotihuacan1.jpg) no-repeat center center;
}

#places #teotihuacan-container #layer-teotihuacan {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(133,196,64,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}

#places #teotihuacan-container:hover > #layer-teotihuacan {
    opacity: 1;
    visibility: visible;
}

#layer-teotihuacan a {
    color:#fff;
    text-decoration: none;
}

#places #teotihuacan-container:hover > #layer-teotihuacan h3{
    margin-top: 140px;
    color:#fff;
    transition: all 500ms ease-out;
}


/* Getting around page*/

#banner-image-transport {
    height: 500px;
    width: 100%;
    background: url(../images/transport_banner.jpg) no-repeat center center;
    
    /* animates zoom effect on loading page */
    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}

/*creates the level of zoom for hero image */
@keyframes banner-zoom {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)

    }
}

#info-trasport > h2{
    padding-top: 100px;
}

#info-transport > p {
    padding-left: 20px;
    padding-right: 20px;
}

#card-transport-container {
  margin: 20px auto;
  max-width: 900px;
  height: 100%;
  overflow: hidden; 
}

.transport-image {
    width: 150px;
    height: 150px;
    position: 0 auto;
}

.block {
  width: 31.33%;
  height: 400px;
  float: left;
  margin: 1%;
  box-sizing:border-box;
  font-size: smaller;  
}

.block h2{
    font-size: Medium;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 900;
}


/* Sign up page*/
#banner-image-signup{
    margin-top: 30px;
    margin-bottom: 50px;
    height: 300px;
    width: 100%;
    background: url(../images/contact-us-banner.jpg) no-repeat center center;
    background-size: contain;
       
    /* animates zoom effect on loading page */
    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
}

/*creates the level of zoom for hero image */
@keyframes banner-zoom {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)

    }
}


/* form */

.form {
    background-color: #129fbd;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
    text-align: center;
}

.form_title {
    font-size: 2rem;
    margin-bottom: .5em;
    color:#fff;
}


.form_container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;

}

.form_group {
    position: relative;
    --color:#fff;
    z-index: 100;
}

.form_input {
    width: 100%;
    background: none;
    color:#fff;
    font-size: 1rem;
    padding: .6em 3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: Montserrat, open-sans;

}

.form_textarea {
    width: 100%;
    max-width: 300px;
    background: white;
    color:#706c6c;
    font-size: 1rem;
    padding: .6em 3em;
    font-family: Montserrat, open-sans;
    margin-top: 50px;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left-top;
    color:#fff;
}

.form_textarea:focus + .form_label,
.form_textarea:not(:placeholder-shown) + .form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left-top;
    color:#fff;
}

.form_label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit {
    background:#c10563 ;
    color:#fff;
    font-family: Montserrat, open-sans;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius:.5em ;
}



/* Media queries*/


/* For larger to medium screns size from 1200px wide and down */
@media only screen and (max-width: 1920px) and (min-width: 1368px) {
   

}

/* For medium screen sizes from 1024px wide and dows */
@media only screen and (max-width: 1024px) and (min-width: 720px) {

    .logo{
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }

    #banner-outer {
        height: 400px;
        width: 100%;
        margin-bottom: 20px;
    }

    #banner-image-index {
        height: 400px;
        width: 100%;
        margin-bottom: 20px;
    }

    #info-cdmx{
        height: 1150px;
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: auto;
    }

    #atractions-title{
        margin-top: 100px;
        margin-bottom: 15px;
     }

    #info-transport h2{
        margin-top: 100px;
    }

    #places > div {
        width: 100%;
        clear: both;
        height: 300px;
        padding: 0;
    }

    #places #bellasartes-container #layer-bellas-artes {
        width: 63%;
        margin-left: 140px;
    }

    #places #catedral-container #layer-catedral {
        width: 63%;
        margin-left: 140px;
    }

    #places #chapultepec-container #layer-chapultepec {
        width: 63%;
        margin-left: 140px;
    }

    #places #revolucion-container #layer-revolucion {
        width: 63%;
        margin-left: 140px;
    }

    #places #teotihuacan-container #layer-teotihuacan {
        width: 63%;
        margin-left: 140px;
    }

    #places {
        height: 1600px;
        margin-top: 50px;
    }

    .block {
        padding-left: 15px;
    }

    #banner-image-signup {
        animation-name: banner-zoom;
        animation-duration:0s;
        animation-fill-mode:none; 
        height: 200px;
    }

    #banner-image-signup{
        margin-top: 5px;
        margin-bottom: 10px;
  
    }

    

}


/* For small screen sizes 667px and down */
@media only screen and (max-device-width: 667px) and (min-device-width: 320px) {

    h1, h2 {
        font-family: Montserrat, open-sans;
        text-transform: uppercase;
        padding-left: 20px;
        padding-top: 25px;
        font-size: large;
    }
        
    #logo {
        position:absolute;
        font-family: Montserrat, open-sans;
        text-transform: uppercase;
        font-size: 20px;   
    }

    #info-cdmx{
        height: 1650px;
    }
 

    .checkbtn {
        display:block; 
    }

   ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: green;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;   
        z-index: 101;     
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        color: white;        
    }

    nav ul li a {
        font-size: 20px;
    }

   
    li a:hover, li a.active {
        background: none;
        color: white;
    }

    #check:checked ~ ul {
        left:0
    }

    #places > div {
        width: 100%;
        clear: both;
        height: 300px;
        padding: 0;
    }

    #places {
        height: 1600px;
    }

    
    .title {
        height:10px;
    }

     #atractions-title{
        margin-bottom: 5px;
        height: 280px;
     }

    #banner-image-index {
        animation-name: banner-zoom;
        animation-duration:0s;
        animation-fill-mode:none;
        margin: 0px;
    }

    #banner-image-signup {
        animation-name: banner-zoom;
        animation-duration:0s;
        animation-fill-mode:none; 
        height: 120px;
    }

    #banner-image-signup{
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #banner-image-places {
        animation-name: banner-zoom;
        animation-duration:0s;
        animation-fill-mode:none; 
    }

    #banner-image-transport {
        animation-name: banner-zoom;
        animation-duration:0s;
        animation-fill-mode:none; 
    }

   .title {
        height: 100px;
        width: 100%;
    }

    .block {
        width: 47.9%;
        padding-left: 10px;
        margin-bottom: 5px;
    }

 
}
